<div class="imageBox" style="width: 90%; margin-left: auto; margin-right: auto;">
<img style="margin-left: 40%; height: 10%; width: 10%;" src='https://png2.cleanpng.com/sh/93f0dc5dc3ca891178d87ae234f9ce13/L0KzQYm3VME0N5JoiZH0aYP2gLBuTgJme6VmjeRqboSwfLFuj71tfZ9ogJ8AYXS0RoG9UBE5a2o2TJCCOEG3Q4qBVsE2OmQ7T6M6M0m5SYK7TwBvbz==/kisspng-restaurant-logo-lunch-5ad16063a8c914.7814398615236711396914.png'>
</div>

<div style="width: 90%; margin-left: auto; margin-right: auto">
<main-course style="float: left">
  
</main-course>

<drinks style="float: left">

</drinks>

<dessers style="display:inline-block">

</dessers>

<router-outlet></router-outlet>
</div>